{% extends "academics/base_academics.html" %}

{% block title %}
    {% if object %}Edit Programme{% else %}Add Programme{% endif %}
{% endblock %}

{% block content %}
    <h2>{% if object %}Edit Programme: {{ object.name }}{% else %}Add New Programme{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Save{% endif %}</button>
        <a href="{% url 'academics:programme_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}